
  @import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    color: #4c525a;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.125rem;
  }
  .logo > img {
    height: 31px;
    width: 150px;
  }
  .nav-links {
    display: none;
  }
  .bars {
    padding: 1rem;
  }
  .heading-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
  }
  .heading > h1 {
    font-weight: 500;
    margin-top: 1rem;
  }
  .monthly-yearly {
    display: flex;
    flex-direction: row;
    margin-top: 3.125rem;
    align-items: center;
    justify-content: center;
  }
  #first-section {
  padding: 0 1.25rem;
}
.monthly {
  text-transform: uppercase;
  font-size: 1.063rem;
  font-weight: 600;
  letter-spacing: 1.22px;
}
.yearly {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.65;
  letter-spacing: 1.22px;
}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 29px;
  background: #01b289;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.15s;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.toogle {
  margin: 0 1.75rem;
  display: flex;
}
.plan {
  border: 1px solid rgba(2,4,69,.15);
  border-radius: 5px;
  padding: 3.125rem 1.438rem 2.5rem;
  margin-bottom: 1.875rem;
  box-shadow: 0 0 68px 0 rgba(2,4,69,.08);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.plan > a {
  text-decoration: none;
}
.plan-p {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 20px;
  max-width: 95%;
}
.price {
  font-size: 4.375rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.currency {
  font-size: 1.875rem;
  margin-right: 0.625rem;
  font-weight: 500;
  position: relative;
  top: -10px;
}
.month {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 1.25rem;
  position: relative;
  top: 15px;
}
ul {
  border-top: 2px solid #01b289;
  padding-top: 2.5rem;
}
li {
  list-style: none;
  padding-bottom: 1.125rem;
  font-weight: 500;
}
li::before {
  content: url(images/tick\ icon.svg);
  display: inline-block;
  margin-right: 0.8rem;
}
.plan-start-free {
  background-color: #00b289;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 0.938rem;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.most-popular {
  width: 90%;
  background-color: #00b289;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 0;
  text-align: center;
  transform: rotate(45deg);
  position: absolute;
  top: 6%;
  left: 30%;
}
.second-section-wrapper {
  padding: 0 1.25rem;
}
.add-ons-h > h3{
  margin-top: 4.5rem;
  padding-top: 1.875rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  line-height: 2rem;
  padding-bottom: 1.875rem;
}
.add-on-box {
  width: 100%;
  padding: 1.25rem 2.5rem;
  box-shadow: 0 0 60px 0 rgba(2,4,69,.05);
  margin-bottom: 0.625rem;
  border-radius: 10px;
}
.add-on-box-h.first {
  font-size: 1.5rem;
  padding: 0 0 1rem;
}
.add-on-box-h {
  font-size: 2.5rem;
  padding: 1rem 0 0 0;
}
.per-month {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 0.8rem 0 1.5rem 0;
  font-weight: 500;
}
.add-on-box-p {
  font-weight: 600;
  margin-bottom: 0.225rem;
}
.add-on-box-description {
  font-weight: 300;
  margin-bottom: 0.625rem;
}
.add-on-box > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #00b289;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
}
.add-on-box > a > img {
  height: 10px;
}
.grow-div {
  margin: 5rem 0;
  padding: 2.5rem 0.938rem 3.125rem;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 8px;
  background-color: #f2faff;
  line-height: 130%;
  font-weight: 500;
}
.grow-div > span {
  color: #00b289;
}
.grow-start-free {
  display: inline-block;
  width: 140px;
  height: 48px;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: linear-gradient(190deg,#00b289,#00a881);
  border-radius: 4px;
  color: white;
}
.frequently-asked {
  padding: 0 1.25rem;
  margin-bottom: 5rem;
}
.frequently-asked-h {
  font-size: 1.5rem;
  font-weight: 700;
  color: #00b289;
  margin: 1.25rem 0 2.5rem;
  text-align: center;
}
.frequently-asked-item > h5{
  font-size: 1.563rem;
  margin: 1.25rem 10% 0.625rem;
}
footer {
  padding: 2.5rem 1.125rem 9.75rem;
}
.footer-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-links > a {
  text-decoration: none;
}
.footer-links.second {
  margin-top: 2rem;
}
.footer-links.second > a:first-of-type {
  color: #00b289;
}
.footer-links.third {
  margin-top: 3rem;
}
.footer-sub-title { 
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.footer-links.fourth {
  margin: 2rem 0;
}
.footer-links-dropdown {
  margin-top: 3rem;
}
.footer-links-dropdown > a {
  text-decoration: none;
}