
  @import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    color: #4c525a;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.125rem;
  }
  .logo > img {
    height: 31px;
    width: 150px;
  }
  .nav-links {
    display: none;
  }
  .bars {
    padding: 1rem;
  }
  .heading-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
  }
  .heading > h1 {
    font-weight: 500;
    margin-top: 1rem;
  }
  .monthly-yearly {
    display: flex;
    flex-direction: row;
    margin-top: 3.125rem;
    align-items: center;
    justify-content: center;
  }
  #first-section {
  padding: 0 1.25rem;
}
.monthly {
  text-transform: uppercase;
  font-size: 1.063rem;
  font-weight: 600;
  letter-spacing: 1.22px;
}
.yearly {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.65;
  letter-spacing: 1.22px;
}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 29px;
  background: #01b289;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.15s;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.toogle {
  margin: 0 1.75rem;
  display: flex;
}
.plan {
  border: 1px solid rgba(2,4,69,.15);
  border-radius: 5px;
  padding: 3.125rem 1.438rem 2.5rem;
  margin-bottom: 1.875rem;
  box-shadow: 0 0 68px 0 rgba(2,4,69,.08);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.plan-p {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 20px;
  max-width: 95%;
}
.price {
  font-size: 4.375rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.currency {
  font-size: 1.875rem;
  margin-right: 0.625rem;
  font-weight: 500;
  position: relative;
  top: -10px;
}
.month {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 1.25rem;
  position: relative;
  top: 15px;
}
ul {
  border-top: 2px solid #01b289;
  padding-top: 2.5rem;
}
li {
  list-style: none;
  padding-bottom: 1.125rem;
  font-weight: 500;
}
li::before {
  content: url(images/tick\ icon.svg);
  display: inline-block;
  margin-right: 0.8rem;
}
.plan-start-free {
  background-color: #00b289;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 0.938rem;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.most-popular {
  width: 90%;
  background-color: #00b289;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 0;
  text-align: center;
  transform: rotate(45deg);
  position: absolute;
  top: 6%;
  left: 30%;
}